{% set page_title = 'Pubblicazione' %}
{% set page_subtitle = false %}

{% extends '::base.html.twig' %}

{% block content %}
<div class="row">
    <div class="col-md-8">
        <!-- BEGIN SAMPLE TABLE PORTLET-->
        <div class="portlet box yellow">
            <div class="portlet-title">
                <div class="caption"><i class="fa fa-money"></i>Pubblicazione</div>
                <div class="tools">
                    <a href="javascript:;" class="collapse"></a>
                </div>
            </div>
            <div class="portlet-body">
                <button class="btn yellow btn-xs" onclick="window.location='{{ path('pubblicazione_new') }}';">Nuovo pacchetto crediti</button></a>
                <div class="table-responsive">
                    <table class="table table-striped table-condensed table-hover">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Nome</th>
                                <th>Giorni</th>
                                <th>Prezzo (Sconto)</th>
                                <th>Descrizione</th>
                                <th>Visibile</th>
                                <th width="40">Op.</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for entity in entities %}
                            <tr>
                                <td>{{ entity.id }}</td>
                                <td>{{ entity.nome }}</td>
                                <td>{{ entity.giorni }}</td>
                                <td>{{ entity.prezzo }} ({{ entity.sconto }}) crediti</td>
                                <td>{{ entity.descrizione }}</td>
                                <td width="40" class="no-padding js-visibile" ref="{{ entity.id }}">
                                    {% if entity.visibile %}
                                        SI
                                    {% else %}
                                        NO
                                    {% endif %}
                                </td>
                                <td>                            
                                    <button class="btn yellow btn-xs" onclick="window.location='{{ path('pubblicazione_edit', { 'id': entity.id }) }}';">Modifica</button></a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- END SAMPLE TABLE PORTLET-->
    </div>
    <div class="col-md-4">
        <!-- BEGIN SAMPLE TABLE PORTLET-->
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption"><i class="fa fa-bar-chart-o"></i>Statistiche</div>
                <div class="tools">
                    <a href="javascript:;" class="collapse"></a>
                </div>
            </div>
            <div class="portlet-body">
                TODO
            </div>
        </div>
        <!-- END SAMPLE TABLE PORTLET-->
    </div>
</div>

{% endblock %}
