{% set page_title = 'Pubblicazione' %}
{% set page_subtitle = false %}
{% extends '::base.html.twig' %}
{% form_theme form 'MetronicAdminBundle::form/empty.html.twig' %}

{% block content %}
<div class="row">
    <div class="col-md-4">
        <!-- BEGIN SAMPLE TABLE PORTLET-->
        <div class="portlet box yellow">
            <div class="portlet-title">
                <div class="caption"><i class="fa fa-money"></i>Pubblicazione</div>
                <div class="tools">
                    <a href="javascript:;" class="collapse"></a>
                </div>
            </div>
            <div class="portlet-body">
                <div class="table-responsive">
                    <table class="table table-striped table-condensed table-hover">
                        <thead>
                            <tr>
                                <th>Nome</th>
                                <th>Giorni</th>
                                <th>Prezzo</th>
                                <th>Visibile</th>
                                <th width="40" class="TAC">Op.</th>
                            </tr>
                        <tbody>
                    {% for entity in entities %}
                            <tr>
                                <td>{{ entity.nome }}</td>
                                <td>{{ entity.giorni }}</td>
                                <td>{{ entity.prezzo }} ({{ entity.sconto }}) crediti</td>
                                <td width="40" class="no-padding js-visibile">
                                    {% if entity.visibile %}
                                        SI
                                    {% else %}
                                        NO
                                    {% endif %}
                                </td>
                                <td>
                                    <button class="btn yellow btn-xs" onclick="window.location='{{ path('crediti_edit', { 'id': entity.id }) }}';">Modifica</button></a>
                                </td>
                            </tr>
                    {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- END SAMPLE TABLE PORTLET-->
    </div>
    <div class="col-md-8">
        <!-- BEGIN SAMPLE TABLE PORTLET-->
        <div class="portlet box red">
            <div class="portlet-title">
                <div class="caption"><i class="fa fa-money"></i>Nuovo Pubblicazione</div>
                <div class="tools">
                    <a href="javascript:;" class="collapse"></a>
                </div>
            </div>
            <div class="portlet-body">
                {{ form_start(form) }}
                {{ form_rest(form) }}
                {{ form_end(form) }}
            </div>
        </div>
        <!-- END SAMPLE TABLE PORTLET-->
    </div>
</div>
<button class="btn yellow btn-xs" onclick="window.location='{{ path('pubblicazione') }}';">Torna indietro</button></a>

{% endblock %}
