<!-- BEGIN STYLE CUSTOMIZER -->
<div class="theme-panel hidden-xs hidden-sm">
    <div class="toggler"></div>
    <div class="toggler-close"></div>
    <div class="theme-options">
        <div class="theme-option theme-colors clearfix">
            <span>{{ 'content.theme.title'|trans({}, "MetronicAdminLayout") }}</span>
            <ul>
                <li class="color-black current color-default" data-style="default"></li>
                <li class="color-blue" data-style="blue"></li>
                <li class="color-brown" data-style="brown"></li>
                <li class="color-purple" data-style="purple"></li>
                <li class="color-grey" data-style="grey"></li>
                <li class="color-white color-light" data-style="light"></li>
            </ul>
        </div>
        <div class="theme-option">
            <span>Layout</span>
            <select class="layout-option form-control input-small">
                <option value="fluid" selected="selected">{{ 'content.theme.layout.fluid'|trans({}, "MetronicAdminLayout") }}</option>
                <option value="boxed">{{ 'content.theme.layout.boxed'|trans({}, "MetronicAdminLayout") }}</option>
            </select>
        </div>
        <div class="theme-option">
            <span>Header</span>
            <select class="header-option form-control input-small">
                <option value="fixed" selected="selected">{{ 'content.theme.elements.fixed'|trans({}, "MetronicAdminLayout") }}</option>
                <option value="default">{{ 'content.theme.elements.default'|trans({}, "MetronicAdminLayout") }}</option>
            </select>
        </div>
        <div class="theme-option">
            <span>Sidebar</span>
            <select class="sidebar-option form-control input-small">
                <option value="fixed" selected="selected">{{ 'content.theme.elements.fixed'|trans({}, "MetronicAdminLayout") }}</option>
                <option value="default">{{ 'content.theme.elements.default'|trans({}, "MetronicAdminLayout") }}</option>
            </select>
        </div>
        <div class="theme-option">
            <span>Footer</span>
            <select class="footer-option form-control input-small">
                <option value="fixed" selected="selected">{{ 'content.theme.elements.fixed'|trans({}, "MetronicAdminLayout") }}</option>
                <option value="default">{{ 'content.theme.elements.default'|trans({}, "MetronicAdminLayout") }}</option>
            </select>
        </div>
    </div>
</div>
<!-- END BEGIN STYLE CUSTOMIZER -->  
