{% form_theme form 'MetronicAdminBundle::form/empty.html.twig' %}
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
            <h4 class="modal-title">{{ 'home.contacts.title'|trans({}, 'WSPNegozio') }}</h4>
        </div>
        {{ form_start(form) }}
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        {{ form_row(form.indirizzo) }}
                        {{ form_row(form.localita) }}
                        {{ form_row(form.cap) }}
                        <div class="portlet-body">
                            <h4>{{ 'negozio.step1.posizione'|trans({}, 'WSPACL') }}</h4>
                            <div id="gmap" class="gmaps"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                {{ form_widget(form.close) }}
                {{ form_widget(form.button) }}
                {{ form_rest(form) }}
            </div>
        {{ form_end(form) }}
    </div>
    <!-- /.modal-content -->
</div>

{% javascripts  
    '@MetronicAdminBundle/Resources/public/plugins/jquery-validation/src/jquery.validate.min.js'
    '@MetronicAdminBundle/Resources/public/plugins/jquery-validation/src/additional-methods.min.js'
    '@MetronicAdminBundle/Resources/public/plugins/gmaps/gmaps.js'
    '@WSPACLBundle/Resources/public/js/geo.js'
%}  
<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}

<script type="text/javascript">
    Form.init();
</script>
