{% form_theme form 'MetronicAdminBundle::form/modal.html.twig' %}
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
            <h4 class="modal-title">{{ 'home.data.title'|trans({}, 'WSPNegozio') }}</h4>
        </div>
        {{ form_start(form) }}
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        {{ render(controller('EphpDragDropBundle:Render:uploadNf')) }}
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                {{ form_widget(form.close) }}
                {{ form_widget(form.button) }}
                {{ form_rest(form) }}
            </div>
        {{ form_end(form) }}
    </div>
    <!-- /.modal-content -->
</div>

{% javascripts  
    '@EphpUtilityBundle/Resources/public/js/check_sanitize_regexp.js'
    '@WSPACLBundle/Resources/public/js/logo.js'
%}
    <script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}   

