{% extends '::base.html.twig' %}

{% block body -%}
<div class="page-header">
    <div class="icon">
        <span class="ico-box"></span>
    </div>
    <h1>Licenze <small>{{ cliente.nome }}</small></h1>
</div>

<div class="row-fluid">
    <div class="span8">
        <div class="block">
            {% for gruppo, licenze in entities %}
                <div class="head blue" onclick="$('#{{ licenze.gruppo.siglaCompleta|replace({'.':'_'}) }}').slideToggle();">
                    <div class="icon"><i class="ico-box"></i></div>
                    <h2>{{ licenze.gruppo.nome|capitalize }}</h2>
                </div>                
                <div id="{{ licenze.gruppo.siglaCompleta|replace({'.':'_'}) }}" class="no-display">{{ licenze.gruppo.descrizione|nl2br }}</div>
                <div class="data-fluid">
                    <table class="table" cellpadding="0" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th width="20%">Nome</th>
                                <th>Descrizione</th>
                                <th width="10%">Durata</th>
                                <th width="10%">Prezzo</th>
                                <th width="80" class="TAC">Acquista</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for licenza in licenze.licenze %}
                                <tr>
                                    <td style="text-align: center;">
                                        <h5>{{ licenza.nome }}</h5>
                                        <span class="label {{ licenza.statoClasse }}">{{ licenza.statoTestuale }}</span>
                                    </td>
                                    <td>{{ licenza.descrizione|raw }}</td>
                                    {% if cliente.hasLicenza(licenza.id) %}
                                        {% set lic = cliente.getLicenza(licenza.id) %}
                                        <td>{% if lic.scadenza %}Scadenza: {{ lic.scadenza|date('d-m-Y') }}{% else %}Illimitato{% endif %}</td>
                                        <td>Acquistato</td>
                                        <td>
                                            <a href="javascript:void(0)" class="button dblue">
                                                <div class="icon"><span class="ico-box"></span></div>
                                            </a>
                                        </td>
                                    {% else %}
                                        <td>{% if licenza.durata %}{{ licenza.durata }} gg{% else %}<abbr title="Nessuna scadenza">n.s.</abbr>{% endif %}</td>
                                        <td>
                                            {% if licenza.prezzo > 0 %}
                                                {% if licenza.prezzo > licenza.sconto %}
                                                    <span class="stroke">{{ licenza.prezzo|number_format(2) }} €</span>
                                                {% endif %}
                                                    {{ licenza.sconto|number_format(2) }} €<br/>
                                                    + IVA
                                            {% else %}
                                                Gratis
                                            {% endif %}
                                        </td>
                                        <td>
                                            <a href="{{ path('eph_licenze_show', {'package': licenza.gruppo.package.sigla, 'gruppo': licenza.gruppo.sigla, 'sigla': licenza.sigla, 'cliente': cliente.id}) }}" class="button dblue">
                                                <div class="icon"><span class="ico-eye"></span></div>
                                            </a>
                                            <a href="{{ path('eph_licenze_buy', {'package': licenza.gruppo.package.sigla, 'gruppo': licenza.gruppo.sigla, 'sigla': licenza.sigla, 'cliente': cliente.id}) }}" class="button green">
                                                <div class="icon"><span class="ico-shopping-cart"></span></div>
                                            </a>
                                        </td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>                    
                </div> 
            {% endfor %}
        </div>            
    </div>            
    <div class="span4">
        {% include "JFCoreBundle:Licenze:commons/carrello.html.twig" %}
    </div>
</div>            

{% endblock %}
