{% extends "::email.html.twig" %}

{% block title %}{{ messaggio.subject }}{% endblock title %}

{% block content %}
<h2 class="h2">{{ messaggio.subject }}</h2>
<br />
<div class="textdark">
    {{ messaggio.body|nl2br }}
    {% if messaggio.foto %}
    <br/><img src="{{ url('home') }}{{ messaggio.foto.urls.url }}" alt="World Sticker Price" title="World Sticker Price"/>
    {% endif %}
</div>
{% endblock content %}