<!-- THE FIRST SLIDE -->
<li data-transition="papercut" data-slotamount="15" data-masterspeed="300" data-delay="9400" data-thumb="{{ asset('bundles/aeweb/images/logo100.png') }}"> <img src="{{ asset('bundles/aeweb/images/slides/slideLogo.png') }}" >
    <div class="caption large_text fade ltl"  
         data-x="-8" 
         data-y="85" 
         data-speed="3000" 
         data-start="2000" 
         data-easing="easeOutExpo"><img src="{{ asset('bundles/aeweb/images/slides/logoTriangolo.png') }}" alt="logo"></div>
    <div class="caption large_text lfr ltl"  
         data-x="235" 
         data-y="314" 
         data-speed="1000" 
         data-start="1100" 
         data-easing="easeOutExpo"><img src="{{ asset('bundles/aeweb/images/slides/logoEsistenza.png') }}" alt="logo"></div>
    <div class="caption large_text lft ltl"  
         data-x="0" 
         data-y="220" 
         data-speed="1000" 
         data-start="1100" 
         data-easing="easeOutExpo"><img src="{{ asset('bundles/aeweb/images/slides/logoArte.png') }}" alt="logo"></div>
    <div class="caption large_text lfl ltl"  
         data-x="-30" 
         data-y="375" 
         data-speed="1000" 
         data-start="1100" 
         data-easing="easeOutExpo"><img src="{{ asset('bundles/aeweb/images/slides/logoIoNonChiudo.png') }}" alt="logo"></div>
    <div class="caption large_text lft ltl"  
         data-x="375" 
         data-y="215" 
         data-speed="1500" 
         data-start="1500" 
         data-easing="easeOutExpo"><img src="{{ asset('bundles/aeweb/images/slides/logoFortezza.png') }}" alt="logo"></div>
    <div class="caption very_big_colour lfr str uppercase"  
         data-x="600" 
         data-y="293" 
         data-speed="300" 
         data-start="2500" 
         data-easing="easeOutExpo" 
         data-end="8800" 
         data-endspeed="300" 
         data-endeasing="easeInSine">La Resistenza</div>
    <div class="caption very_big_black lfr str uppercase"  
         data-x="600" 
         data-y="333" 
         data-speed="300" 
         data-start="2700" 
         data-easing="easeOutExpo" 
         data-end="9000" 
         data-endspeed="300" 
         data-endeasing="easeInSine">Artistico-Culturale</div>
    <div class="caption very_big_black lfr str uppercase"  
         data-x="600" 
         data-y="387" 
         data-speed="300" 
         data-start="2900" 
         data-easing="easeOutExpo" 
         data-end="9200" 
         data-endspeed="300" 
         data-endeasing="easeInSine">Livornese</div>
</li>