{% if breadcrumbs is defined %}
<!-- PAGE HEADER -->
<div class="container page-header ph-bg1">
    <div class="row">
        <div class="twelve columns">
            {% for label, breadcrumb in breadcrumbs %}
                {% if loop.last %}
                    {% if breadcrumb.replace is defined %}
                        {% set label = label|replace(breadcrumb.replace) %}
                    {% endif %}
                    <p class="page-title">{{ label }}</p>
                {% endif %}
            {% endfor %}
            <ul class="breadcrumbs">
                {% for label, breadcrumb in breadcrumbs %}
                    {% if breadcrumb.replace is defined %}
                        {% set label = label|replace(breadcrumb.replace) %}
                    {% endif %}
                    {% if not loop.last and breadcrumb.route is defined %}
                        {% if breadcrumb.params is defined %}
                            <li><a href="{{ path(breadcrumb.route, breadcrumb.params) }}">{{ label }}</a></li>
                        {% else %}
                            <li><a href="{{ path(breadcrumb.route) }}">{{ label }}</a></li>
                        {% endif %}
                    {% else %}
                        <li><a href="javascript:void(0);">{{ label }}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
<!-- END PAGE HEADER -->
{% endif %}

