{% if tasks is defined and tasks|length > 0 %}
<!-- BEGIN TODO DROPDOWN -->
<li class="dropdown" id="header_task_bar">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
        <i class="fa fa-tasks"></i>
        <span class="badge">{{ tasks|length }}</span>
    </a>
    <ul class="dropdown-menu extended tasks">
        <li>
            <p>{{ 'header.inbox.new'|transchoice(tasks|length, {'count': tasks|length}, "MetronicAdminLayout") }}</p>
        </li>
        <li>
            <ul class="dropdown-menu-list scroller" style="height: 250px;">
                {% for task in tasks %}
                <li>
                    <a href="{% if task.route %}{{ path(task.route, task.routeParams) }}{% else %}javascript:;{% endif %}">
                        <span class="task">
                            <span class="desc">{{ task.task }}</span>
                            <span class="percent">{{ task.percent }}%</span>
                        </span>
                        <span class="progress {% if task.striped %}progress-striped{% endif %}">
                            <span style="width: {{ task.percent }}%;" class="progress-bar progress-bar-success" aria-valuenow="{{ task.percent }}" aria-valuemin="0" aria-valuemax="100">
                                <span class="sr-only">{{ task.percent }}% Complete</span>
                            </span>
                        </span>
                    </a>
                </li>
                {% endfor %}
            </ul>
        </li>
        <li class="external">   
            <a href="#">{{ 'header.task.all'|trans({}, "MetronicAdminLayout") }} <i class="m-icon-swapright"></i></a>
        </li>
    </ul>
</li>
<!-- END TODO DROPDOWN -->
{% endif %}