{% extends '::base.html.twig' %}
{% if form_layout %}
    {% form_theme form form_layout %}
{% endif %}
{% block content %}
<div class="page-header">
    <div class="icon">
        <span class="ico-sale"></span>
    </div>
    <h1>Clienti <small>SuperAmministratore</small></h1>
</div>
{{ form_start(form) }}
    <div class="row-fluid">
        <div class="span6">
            <div class="block">
                <div class="head">                                
                    <h2>Anagrafica SuperAmministratore</h2>
                </div>                                        
                <div class="data-fluid">
                    {{ form_row(form.cliente) }}
                    {{ form_row(form.firstname) }}
                    {{ form_row(form.email) }}
                </div>
            </div>
        </div>
        <div class="span6">
            <div class="block">
                <div class="head">                                
                    <h2>&nbsp;</h2>
                    <ul class="buttons">             
                        <li><a href="#" onClick="source('help_{{ app.request.get('_route') }}'); return false;"><div class="icon"><span class="ico-info"></span></div></a></li>
                    </ul>                                  
                </div>                                        
                <div class="data-fluid">
                    {{ form_row(form.sigla) }}
                    {{ form_row(form.lastname) }}
                    {{ form_row(form.telefono) }}
                </div>
            </div>
        </div>
    </div>
    {{ form_rest(form) }}
{{ form_end(form) }}
{% endblock %}
