{# LICENZE #}
<div class="widget red icon">
    <div class="left">
        <div class="icon">
            <span class="ico-box"></span>
        </div>
    </div>
    <div class="right">
        <table cellpadding="0" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>Licenza</th><th>Scadenza</th>
                </tr>
            </thead>
            <tbody>
                {% for licenza in entity.licenze %}
                    {% if loop.index <= 3 %}
                        <tr>
                            <td><abbr title="{{ licenza.licenza.nome }}">{{ licenza.gruppo.nome|capitalize }}</abbr></td>
                            <td nowrap>{% if licenza.scadenza %}{{ licenza.scadenza|date('d-m-Y') }}{% else%}<abbr title="Nessuna Scadenza">n.s.</abbr>{% endif %}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% if app.user.hasRole('R_SUPER') %}
        <div class="bottom">
            <a href="{{ path('catalogo') }}">Vai al catalogo</a>
        </div>                            
    {% endif %}
    {% if app.user.hasRole('R_EPH') %}
        <div class="bottom">
            <a href="{{ path('eph_licenze', {'cliente': entity.id}) }}">Dettagli licenze</a>
        </div>                            
    {% endif %}
</div>
