{% block extends %}
{{ "{% set page_title = '"~entity~"' %}" }}
{{ "{% set page_subtitle = ~ %}" }}
{{ "{% extends '::base.html.twig' %}" }}
{{ "{% form_theme edit_form 'MetronicAdminBundle::form/empty.html.twig' %}" }}
{% endblock extends %}

{% block body %}
{{ "{% block content %}" }}
<div class="row">
    <div class="col-md-4">
        <!-- BEGIN SAMPLE TABLE PORTLET-->
        <div class="portlet box yellow">
            <div class="portlet-title">
                <div class="caption"><i class="fa fa-money"></i>{{ entity }}</div>
                <div class="tools">
                    <a href="javascript:;" class="collapse"></a>
                </div>
            </div>
            <div class="portlet-body">
                <div class="table-responsive">
                    <table class="table table-striped table-condensed table-hover">
                        <thead>
                            <tr>
                            </tr>
                        <tbody>
                    {{ '{#{% for entity in entities %}#}' }} 
                            <tr>
                            </tr>
                    {{ '{#{% endfor %}#}' }}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- END SAMPLE TABLE PORTLET-->
    </div>
    <div class="col-md-8">
        <!-- BEGIN SAMPLE TABLE PORTLET-->
        <div class="portlet box red">
            <div class="portlet-title">
                <div class="caption"><i class="fa fa-money"></i>Modifica {{ entity }}</div>
                <div class="tools">
                    <a href="javascript:;" class="collapse"></a>
                </div>
            </div>
            <div class="portlet-body">
                {{ '{{ form_start(edit_form) }}' }}
                {{ '{{ form_rest(edit_form) }}' }}
                {{ '{{ form_end(edit_form) }}' }}
            </div>
        </div>
        <!-- END SAMPLE TABLE PORTLET-->
    </div>
</div>
{% set hide_edit, hide_delete = true, false %}
{% include 'crud/views/others/record_actions.html.twig.twig' %}
{{ "{% endblock %}" }}
{% endblock body %}
