<div class="portlet sale-summary">
    <div class="portlet-title">
        <div class="caption">{{ 'home.azioni.titolo'|trans({}, 'WSPNegozio') }}</div>
        <div class="tools">
            <a class="reload" href="javascript:;"></a>
        </div>
    </div>
    <div class="portlet-body">
        <ul class="list-unstyled">
            {% if not negozio.logo %}
                <li>
                    <span class="sale-info">{{ 'home.azioni.logo.titolo'|trans({}, 'WSPNegozio') }} <i class="fa fa-img-up"></i></span> 
                    <span class="sale-num" title="{{ 'home.azioni.logo.descrizione'|trans({}, 'WSPNegozio') }}" data-toggle="tooltip" data-placement="left">
                        <i class="fa fa-info-circle"></i>
                    </span>
                </li>
            {% endif %}
            {% set minLenDescrizione = 500 %}
            {% if not negozio.descrizione %}
                <li>
                    <span class="sale-info"><a href="{{ path('negozio_form_data') }}" data-target="#ajax_data" data-toggle="modal">{{ 'home.azioni.descrizione.titolo'|trans({}, 'WSPNegozio') }}</a> <i class="fa fa-img-up"></i></span> 
                    <span class="sale-num" title="{{ 'home.azioni.descrizione.descrizione'|trans({}, 'WSPNegozio') }}" data-toggle="tooltip" data-placement="left">
                        <i class="fa fa-info-circle"></i>
                    </span>
                </li>
            {% elseif negozio.descrizione|length < minLenDescrizione %}
                <li>
                    <span class="sale-info"><a href="{{ path('negozio_form_data') }}" data-target="#ajax_data" data-toggle="modal">{{ 'home.azioni.descrizionebreve.titolo'|trans({}, 'WSPNegozio') }}</a> <i class="fa fa-img-up"></i></span> 
                    <span class="sale-num" title="{{ 'home.azioni.descrizionebreve.descrizione'|trans({'%n%': minLenDescrizione}, 'WSPNegozio') }}" data-toggle="tooltip" data-placement="left">
                        <i class="fa fa-info-circle"></i>
                    </span>
                </li>
            {% endif %}
        </ul>
    </div>
</div>
