{% extends "::empty.html.twig" %}

{% block css %}
<link href="/bundles/wspadmin/css/custom.css" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block js %}
<script src="/bundles/metronicadmin/plugins/jquery-validation/src/jquery.validate.min.js" type="text/javascript"></script>
<script src="/bundles/metronicadmin/plugins/jquery-validation/src/additional-methods.min.js" type="text/javascript"></script>
<script src="/bundles/wspadmin/js/soft.js" type="text/javascript"></script>
<script src="/bundles/metronicadmin/scripts/coming-soon.js" type="text/javascript"></script>
<script src="/bundles/wspacl/js/login.js" type="text/javascript"></script>
<script type="text/javascript" src="{{ url('bazinga_jstranslation_js', { 'domain': 'WSPACL' }) }}"></script>
{% endblock %}

{% block ready_js %}
Login.init();
{% endblock %}

{% block content %}
<!-- BEGIN LOGIN FORM -->
<form class="login-form" action="{{ path("fos_user_security_check") }}" method="post">
    <h3 class="form-title">{{ 'login.title'|trans({}, 'WSPACL') }}</h3>
    <div class="forget-password">
        <p>
            {{ 'register.question'|trans({}, 'WSPACL') }}&nbsp; 
            <a href="javascript:;" id="register-btn" >{{ 'register.link'|trans({}, 'WSPACL') }}</a>
        </p>
    </div>
    <div class="alert alert-danger display-hide">
        <button class="close" data-close="alert"></button>
        <span>{% if error %}{{ error|trans({}, 'FOSUserBundle') }}{% endif %}</span>
    </div>
    <div class="form-group">
        <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
        <label class="control-label visible-ie8 visible-ie9" for="username">{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}</label>
        <div class="input-icon">
            <i class="fa fa-user"></i>
            <input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}" id="username" name="_username" value="{{ last_username }}" />
        </div>
    </div>
    <div class="form-group">
        <label class="control-label visible-ie8 visible-ie9" for="password">{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}</label>
        <div class="input-icon">
            <i class="fa fa-lock"></i>
            <input class="form-control placeholder-no-fix" type="password" autocomplete="off" placeholder="{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}"  id="password" name="_password" />
        </div>
    </div>
    <div class="form-actions">
        <label class="checkbox" for="remember_me">
            <input type="checkbox" id="remember_me" name="_remember_me" value="on" />{{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}
        </label>
        <button type="submit" id="_submit" name="_submit" class="btn blue pull-right">
            {{ 'security.login.submit'|trans({}, 'FOSUserBundle') }} <i class="m-icon-swapright m-icon-white"></i>
        </button>            
    </div>
    <p>{{ 'login.social'|trans({}, 'WSPACL') }}</p>
    <ul class="social-icons margin-top-20">
        <li><a href="#" data-original-title="Facebook" class="facebook"></a></li>
        <li><a href="#" data-original-title="Twitter" class="twitter"></a></li>
    </ul>
    <div class="create-account">
        <h4>{{ 'forget.question'|trans({}, 'WSPACL') }}</h4>
        <p>
            {{ 'forget.answer.start'|trans({}, 'WSPACL') }} 
            <a href="javascript:;" id="forget-password">{{ 'forget.answer.link'|trans({}, 'WSPACL') }}</a>
            {{ 'forget.answer.end'|trans({}, 'WSPACL') }} 
        </p>
    </div>
    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
</form>
<!-- END LOGIN FORM -->   
{% render(controller('FOSUserBundle:Resetting:request')) %}
{% render(controller('FOSUserBundle:Registration:register')) %}
{% endblock content %}
