{% form_theme form 'MetronicAdminBundle::form/empty.html.twig' %}
<!-- BEGIN REGISTRATION FORM -->
<form class="register-form" action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST">
    <h3>{{ 'register.title'|trans({}, 'WSPACL') }}</h3>
    <p>{{ 'register.social'|trans({}, 'WSPACL') }}</p>
    <ul class="social-icons margin-top-20">
        <li><a href="#" data-original-title="Facebook" class="facebook"></a></li>
        <li><a href="#" data-original-title="Twitter" class="twitter"></a></li>
    </ul>
    <p>{{ 'register.insert'|trans({}, 'WSPACL') }}</p>
    {{ form_widget(form) }}

    <div class="form-actions">
        <button id="register-back-btn" type="button" class="btn">
            <i class="m-icon-swapleft"></i> {{ 'commons.back'|trans({}, 'WSPACL') }}
        </button>
        <button type="submit" id="register-submit-btn" class="btn blue pull-right">
            {{ 'registration.submit'|trans({}, 'FOSUserBundle') }}<i class="m-icon-swapright m-icon-white"></i>
        </button>            
    </div>
</form>
<!-- END REGISTRATION FORM -->
